<!-- shared navigation -->

<div class="jumbotron">
  <div class="newalbum">

    <h2>Add a new album</h2>

    <%= form_for @album do |f| %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.submit "Create Your Album" %>
    </div>
    <% end %>
  </div>
</div>